@model WebApplication1.Models.chitietdonhang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>XÓA THÔNG TIN CHI TIẾT ĐƠN HÀNG</h2>
<br />


<div>
    <i class="fa fa-undo fa-fw"></i>@Html.ActionLink("Quay lại", "Index", "chitietdonhangs")
</div>
<

    <h3>Bạn có chắc muốn xóa chi tiết đơn hàng này ?</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.iddh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.iddh)
            </dd>



        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        }
    </div>
